<div class="parallax-wrapper">

  <div class="parallax-group">

    <div class="parallax-layer base-layer">
      <app-tree [position]="'base'"></app-tree>
      <app-tree [position]="'base'"></app-tree>
      <app-tree [position]="'base'"></app-tree>
      <app-tree [position]="'base'"></app-tree>
      <app-tree [position]="'base'"></app-tree>
      <app-tree [position]="'base'"></app-tree>
      <app-tree [position]="'base'"></app-tree>
      <app-tree [position]="'base'"></app-tree>
      <app-tree [position]="'base'"></app-tree>
      <app-tree [position]="'base'"></app-tree>
    </div>

    <div class="parallax-layer mid-layer">
      <app-tree [position]="'mid'"></app-tree>
      <app-tree [position]="'mid'"></app-tree>
      <app-tree [position]="'mid'"></app-tree>
      <app-tree [position]="'mid'"></app-tree>
      <app-tree [position]="'mid'"></app-tree>
      <app-tree [position]="'mid'"></app-tree>
      <app-tree [position]="'mid'"></app-tree>
      <app-tree [position]="'mid'"></app-tree>
      <app-tree [position]="'mid'"></app-tree>
      <app-tree [position]="'mid'"></app-tree>
    </div>

    <div class="parallax-layer top-layer" #topLayer>
      <app-tree [position]="'top'"></app-tree>
      <app-tree [position]="'top'"></app-tree>
      <app-tree [position]="'top'"></app-tree>
      <app-tree [position]="'top'"></app-tree>
      <app-tree [position]="'top'"></app-tree>
      <app-tree [position]="'top'"></app-tree>
      <app-tree [position]="'top'"></app-tree>
      <app-tree [position]="'top'"></app-tree>
      <app-tree [position]="'top'"></app-tree>
      <app-tree [position]="'top'"></app-tree>

      <section>
        <article>
          <app-presentation></app-presentation>
        </article>
        <article>

        </article>
        <article>

        </article>
        <article>

        </article>
        <article>

        </article>
      </section>

    </div>

  </div>

</div>