.indicator {
    position: absolute;
    inset: 100px 15%;
    // background-color: aqua;
}

.parallax-wrapper {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: overlay;
  perspective: 1000px;
  scrollbar-width: none;
  opacity: 0;

  .parallax-group {
    position: relative;
    transform-style: preserve-3d;
    width: 100vw;

    .parallax-layer {
      pointer-events: none;
      position: absolute;
    }

    .base-layer {
      inset: -50%;
      transform: translateZ(-1000px);
      background-repeat: no-repeat;
      background-position-y: center;
      background-size: 100% auto;
    }

    .mid-layer {
      inset: -25%;
      transform: translateZ(-500px);
    }

    .top-layer {
      inset: 0;

      section{
        position: absolute;
        inset: 0;

        article {
          position: relative;
          width: 100vw;
        }

      }

    }

  }

}

.parallax-wrapper--animation {
  animation: load 100ms steps(10) ;
  animation-fill-mode: forwards;
}

@keyframes load {
  20% {
    opacity: 1;
    transform: scale(1);
  }
  60% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}