.indicator {
    position: absolute;
    inset: 100px 15%;
    // background-color: rgba(226, 147, 43, 0.452);
}

.parallax-wrapper {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: overlay;
  perspective: 1000px;
  scrollbar-width: none;

  .parallax-group {
    position: relative;
    transform-style: preserve-3d;
    width: 100vw;

    .parallax-layer {
      pointer-events: none;
      position: absolute;
      // background-color: rgba(151, 151, 151, 0.25);
    }

    .base-layer {
      inset: -50%;
      transform: translateZ(-1000px);
      background-image: url('../../../../../assets/img/background.jpeg');
      background-repeat: no-repeat;
      background-position-y: center;
      background-size: 100% auto;
    }

    .mid-layer {
      inset: -25%;
      transform: translateZ(-500px);
    }

    .top-layer {
      inset: 0;

      section{
        position: absolute;
        inset: 0;

        article {
          position: relative;
          width: 100vw;
        }

      }

    }

  }

}