<div class="parallax-wrapper" #parallaxWrapper>

  <div class="parallax-group" #parallaxGroup>

    <div class="parallax-layer base-layer">
      <app-tree [position]="'base'"></app-tree>
      <app-tree [position]="'base'"></app-tree>
      <app-tree [position]="'base'"></app-tree>
      <app-tree [position]="'base'"></app-tree>
      <app-tree [position]="'base'"></app-tree>
      <app-tree [position]="'base'"></app-tree>
      <app-tree [position]="'base'"></app-tree>
      <app-tree [position]="'base'"></app-tree>
      <app-tree [position]="'base'"></app-tree>
      <app-tree [position]="'base'"></app-tree>
    </div>

    <div class="parallax-layer mid-layer">
      <app-tree [position]="'mid'"></app-tree>
      <app-tree [position]="'mid'"></app-tree>
      <app-tree [position]="'mid'"></app-tree>
      <app-tree [position]="'mid'"></app-tree>
      <app-tree [position]="'mid'"></app-tree>
      <app-tree [position]="'mid'"></app-tree>
      <app-tree [position]="'mid'"></app-tree>
      <app-tree [position]="'mid'"></app-tree>
      <app-tree [position]="'mid'"></app-tree>
      <app-tree [position]="'mid'"></app-tree>
    </div>

    <div class="parallax-layer top-layer">
      <section>
        <article [ngStyle]="{'height.px': getArticleHeight(1)}">
          <app-presentation></app-presentation>
          <div class="indicator"></div>
        </article>
        <article [ngStyle]="{'height.px': getArticleHeight(2)}">
          <app-quote></app-quote>
          <div class="indicator"></div>
        </article>
        <article [ngStyle]="{'height.px': getArticleHeight(3)}">
          <app-quote></app-quote>
          <div class="indicator"></div>
        </article>
      </section>

      <app-tree [position]="'top'"></app-tree>
      <app-tree [position]="'top'"></app-tree>
      <app-tree [position]="'top'"></app-tree>
      <app-tree [position]="'top'"></app-tree>
      <app-tree [position]="'top'"></app-tree>
      <app-tree [position]="'top'"></app-tree>
      <app-tree [position]="'top'"></app-tree>
      <app-tree [position]="'top'"></app-tree>
      <app-tree [position]="'top'"></app-tree>
      <app-tree [position]="'top'"></app-tree>

    </div>

  </div>

</div>