.parallax-wrapper {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 1000px;

  .parallax-group {
    position: relative;
    transform-style: preserve-3d;
    width: 100vw;

    .parallax-layer {
      position: absolute;
    }

    .base-layer {
      inset: -50%;
      transform: translateZ(-1000px);
      background-color: rgba(151, 151, 151, 0.25);
    }

    .mid-layer {
      inset: -25%;
      transform: translateZ(-500px);
      background-color: rgba(151, 151, 151, 0.25);
    }

    .top-layer {
      inset: 0;
      background-color: rgba(151, 151, 151, 0.25);

      section{
        position: absolute;
        inset: 0;

        article {
          position: relative;
          width: 100vw;
        }

      }

    }

  }

}