<!-- TODO: Reduce this code -->
<div class="presentation">
  <h2 class="t1-36-bold red-text blur">Create your own</h2>
  <h1 class="t1-96-bold red-text blur">Reality</h1>
</div>

<div class="presentation">
  <h2 class="t1-36-bold blue-text blur">Create your own</h2>
  <h1 class="t1-96-bold blue-text blur">Reality</h1>
</div>

<div class="presentation">
  <h2 class="t1-36-bold green-text blur">Create your own</h2>
  <h1 class="t1-96-bold green-text blur">Reality</h1>
</div>

<div class="presentation">
  <h2 class="t1-36-bold text-grey-300">Create your own</h2>
  <h1 class="t1-96-bold text-white">Reality</h1>
</div>