<!-- TODO: Reduce this code -->
<div class="projects">
  <h2 class="t1-36-bold red-text blur">Project 1</h2>
  <h1 class="t1-96-bold red-text blur">Description</h1>
</div>

<div class="projects">
  <h2 class="t1-36-bold blue-text blur">Project 1</h2>
  <h1 class="t1-96-bold blue-text blur">Description</h1>
</div>

<div class="projects">
  <h2 class="t1-36-bold green-text blur">Project 1</h2>
  <h1 class="t1-96-bold green-text blur">Description</h1>
</div>

<div class="projects">
  <h2 class="t1-36-bold text-grey-300">Project 1</h2>
  <h1 class="t1-96-bold text-white">Description</h1>
</div>

<div class="projects">
  <div #firstHighlight class="text-container">
    <div class="highlighter36 grey-300"></div>
  </div>
  <div #secondHighlight class="highlighter96 white"></div>
</div>
