<!-- TODO: Reduce this code -->
<img class="logo red blur" [src]="img"/>
<div class="presentation">
  <p class="t1-24-bold text-wait red-text blur">Hey! my name is</p>
  <h1 class="t1-96-bold text-grey-800 red-text blur">Mike Vive</h1>
  <h1 class="t1-42-bold text-grey-600 red-text blur">I love to explore the nature of code in human experiences.</h1>
</div>

<img class="logo blue blur" [src]="img"/>
<div class="presentation">
  <p class="t1-24-bold text-wait blue-text blur">Hey! my name is</p>
  <h1 class="t1-96-bold text-grey-800 blue-text blur">Mike Vive</h1>
  <h1 class="t1-42-bold text-grey-600 blue-text blur">I love to explore the nature of code in human experiences.</h1>
</div>

<img class="logo green blur" [src]="img"/>
<div class="presentation">
  <p class="t1-24-bold text-wait green-text blur">Hey! my name is</p>
  <h1 class="t1-96-bold text-grey-800 green-text blur">Mike Vive</h1>
  <h1 class="t1-42-bold text-grey-600 green-text blur">I love to explore the nature of code in human experiences.</h1>
</div>

<img class="logo" [src]="img"/>
<div class="presentation">
  <p class="t1-24-bold text-wait">Hey! my name is</p>
  <h1 class="t1-96-bold text-grey-800">Mike Vive</h1>
  <h1 class="t1-42-bold text-grey-600">I love to explore the nature of code in human experiences.</h1>
</div>