<!-- TODO: Reduce this code -->
<div class="container">
    <div class="moon" #moonSubcontainer>
      <img class="moon glow" [src]="img"/>
      <img class="moon red blur" [src]="img"/>
      <img class="moon blue blur" [src]="img"/>
      <img class="moon green blur" [src]="img"/>
      <img class="moon" [src]="img"/>
    </div>
</div>

<div class="presentation">
  <h2 class="t1-36-bold red-text blur">Hey! my name is</h2>
  <h1 class="t1-96-bold red-text blur">Mike Vive</h1>
  <h2 class="t1-36-bold red-text blur">I love to explore the nature of code and how it can impact human experiences.</h2>
</div>

<div class="presentation">
  <h2 class="t1-36-bold blue-text blur">Hey! my name is</h2>
  <h1 class="t1-96-bold blue-text blur">Mike Vive</h1>
  <h2 class="t1-36-bold blue-text blur">I love to explore the nature of code and how it can impact human experiences.</h2>
</div>

<div class="presentation">
  <h2 class="t1-36-bold green-text blur">Hey! my name is</h2>
  <h1 class="t1-96-bold green-text blur">Mike Vive</h1>
  <h2 class="t1-36-bold green-text blur">I love to explore the nature of code and how it can impact human experiences.</h2>
</div>

<div class="presentation">
  <h2 class="t1-36-bold text-grey-900">Hey! my name is</h2>
  <h1 class="t1-96-bold text-white">Mike Vive</h1>
  <h2 class="t1-36-bold text-grey-300">I love to explore the nature of code and how it can impact human experiences.</h2>
</div>