@import "../../../../styles.scss";

$presentation: $base;

:host {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.moon-container {
  position: absolute;
  right: 180px;
  top: 80px;
  width: 285px;
  height: 285px;
  z-index: $under + $presentation;
}

.moon {
  position: absolute;
  height: 100%;
  width: 100%;
}

.glow {
  filter: drop-shadow(-0px 0px 70px rgb(255, 255, 255))
}

.blur {
  opacity: 0.4;
}

.green {
  filter: brightness(140%) saturate(200) hue-rotate(30deg) blur(1px);
  transform: translateX(-1px) translateY(1px)
}

.blue {
  filter: brightness(50%) saturate(200) hue-rotate(120deg) blur(1px);
  transform: translateX(-2px) translateY(-2px)
}

.red {
  filter: brightness(100%) saturate(100) hue-rotate(250deg) blur(1px);
  transform: translateX(2px) translateY(2px)
}

.green-text {
  color: lightgreen;
  transform: translateX(-1px) translateY(1px)
}

.blue-text {
  color: blue;
  transform: translateX(-1px) translateY(-1px)
}

.red-text {
  color: red;
  transform: translateX(1px) translateY(1px)
}

.presentation {
  position: absolute;
  z-index: $presentation;
  width: 70%;
  pointer-events: all;
}

/* Portrait */

@media (orientation:portrait) {

}

/* Phone Portrait */

@media (orientation:portrait) and (max-width: 575px) {
  h2 { font-size: 24px !important; }
  h1 { font-size: 48px !important; }
  .moon-container {
    left: 65px;
    top: 100px;
    width: 95px;
    height: 95px;
  }
}

@media (orientation:portrait) and (min-width: 576px) {
  h2 { font-size: 36px !important; }
  h1 { font-size: 64px !important; }
  .moon-container {
    left: 65px;
    top: 120px;
    width: 143px;
    height: 143px;
  }
}

/* Laptop/Tablet Portrait */

@media (orientation:portrait) and (min-width: 768px) {
  h2 { font-size: 36px !important; }
  h1 { font-size: 96px !important; }
  .moon-container {
    left: 120px;
    top: 120px;
    width: 228px;
    height: 228px;
  }
}

@media (orientation:portrait) and (min-width: 992px) {
  h2 { font-size: 42px !important; }
  .moon-container {
    left: 140px;
    top: 120px;
    width: 285px;
    height: 285px;
  }
}

@media (orientation:portrait) and (min-width: 1200px) {

}

/* Landscape */

@media (orientation:landscape) { }

/* Phone Landscape */

@media (orientation:landscape) and (max-height: 419px) {
  h2 { font-size: 24px !important; }
  h1 { font-size: 48px !important; }
  .moon-container {
    right: 100px;
    top: 80px;
    width: 95px;
    height: 95px;
  }
}

/* Laptop/Tablet Landscape */

@media (orientation:landscape) and (min-height: 420px) {
  h2 { font-size: 24px !important; }
  h1 { font-size: 48px !important; }
  .moon-container {
    right: 100px;
    top: 80px;
    width: 95px;
    height: 95px;
  }
}

@media (orientation:landscape) and (min-height: 420px) and (max-width: 575px) {
  h2 { font-size: 24px !important; }
  h1 { font-size: 48px !important; }
  .moon-container {
    right: 100px;
    top: 80px;
    width: 95px;
    height: 95px;
  }
}

@media (orientation:landscape) and (min-height: 420px) and (min-width: 576px) {
  h2 { font-size: 24px !important; }
  h1 { font-size: 48px !important; }
  .moon-container {
    right: 100px;
    top: 80px;
    width: 143px;
    height: 143px;
  }
}

@media (orientation:landscape) and (min-height: 420px) and (min-width: 768px) {
  h2 { font-size: 24px !important; }
  h1 { font-size: 48px !important; }
  .moon-container {
    right: 100px;
    top: 80px;
    width: 228px;
    height: 228px;
  }
}

@media (orientation:landscape) and (min-height: 420px) and (min-width: 992px) {
  h2 { font-size: 36px !important; }
  h1 { font-size: 96px !important; }
  .moon-container {
    right: 180px;
    top: 80px;
    width: 285px;
    height: 285px;
  }
}

@media (orientation:landscape) and (min-height: 420px) and (min-width: 1200px) {
  h2 { font-size: 36px !important; }
  h1 { font-size: 96px !important; }
  .moon-container {
    right: 180px;
    top: 80px;
    width: 285px;
    height: 285px;
  }
}

