.noise {
  position: fixed;
  pointer-events: none;
  width: 5px;
  height: 5px;
}

.scratch {
  position: fixed;
  pointer-events: none;
  width: 50px;
  height: 50px;
}

.paper-texture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.3;
  pointer-events: none;
}