<div class="sphere blue blur" [ngStyle]="{'top.px': top, 'left.px': left, 'opacity': blurOpacity}" #blue></div>
<div class="sphere red blur" [ngStyle]="{'top.px': top, 'left.px': left, 'opacity': blurOpacity}" #red></div>
<div class="sphere green blur" [ngStyle]="{'top.px': top, 'left.px': left, 'opacity': blurOpacity}" #green></div>
<div class="sphere real" [ngStyle]="{'top.px': top, 'left.px': left, 'opacity': opacity}"></div>
<img class="tree" src="assets/img/low-poly-trees/Asset {{lowPolyImg}}.png" alt="low-poly-tree" [ngStyle]="{'top.px': top + 20, 'left.px': left + 20, 'opacity': opacity}">
<img class="sphere crystal" src="assets/img/low-poly-trees/sphere.png" alt="low-poly-tree" [ngStyle]="{'top.px': top, 'left.px': left}">