:host {
  cursor: pointer;
}

.container {
  pointer-events: all;
  position: absolute;
  width: 100px;
  height: 100px;

  .bubble {
    position: relative;
    width: 100%;
    height: 100%;

    .sphere {
      position: absolute;
      width: 100px;
      height: 100px;
    }

    .tree {
      position: absolute;
      width: 60px;
      margin-top: 20px;
      margin-left: 20px;
      height: 60px;
    }

    .crystal {
      opacity: 0.2;
    }

    .real {
      background-color: rgba(136, 228, 251, 0.418);
    }

    .red {
      background-color: red;
    }

    .blue {
      background-color: blue;
    }

    .green {
      background-color: lightgreen;
    }

    .elastic {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50px;
      transition: height 0.1s;
    }

    .blur {
      -webkit-filter: blur(1px);
      -moz-filter: blur(1px);
      -o-filter: blur(1px);
      -ms-filter: blur(1px);
      filter: blur(1px);
    }

  }

}

