@import "../../../../../styles.scss";

.splash {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  z-index: $base;

  .old-texture{
    z-index: inherit;
    position: absolute;
    top: 0;
    opacity: 1;
    width: 100vw;
    height: 300vh;
    transition: all 0.3s linear;
  }

  .background {
    z-index: inherit;
    position: absolute;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    background-color: rgb(33, 33, 33);
    transition: opacity 0.2s linear;
  }

  .text-container {
    z-index: inherit;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .lake {
      position: absolute;
      background-image: url(/assets/img/collages/lake.jpeg);
      background-size: 400px 400px;
      height: 300px;
      width: 300px;
      border-radius: 150px;
    }

    .plant {
      position: absolute;
      height: 400px;
      width: auto;
    }

    .leaves {
      position: absolute;
      right: 90px;
      top: 0px;
      transform: rotate(35deg);
      height: 300px;
      width: auto;
    }

    .leaves-two {
      position: absolute;
      left: 90px;
      top: -150px;
      height: 300px;
      width: auto;
    }

  }
}
